$deep_purple : #24143D;
$dark_purple : #3B2E4F;
$bright_purple : #8C45FF;
$lime_green : #D6FF00;
$cream : #FAF5ED;

$color_primary : $deep_purple;
$color_secondary: $dark_purple;
$color_black: #000000;
$color_white: #fff;
$color_light_grey: #ccc;
$color_body : $dark_purple;
$color_link: $bright_purple;

$primary : $dark_purple;