// $primaryFont: var(--poppins-default);
// $headingFont: var(--roboto-default);

body {
  color: $primary;
}

h1 {
    font-size: clamp(2.25rem,4.25vw,4rem);
    letter-spacing: 2px;
}

h3 {
    font-family: sans serif;
    line-height: 1em;
    font-size: clamp(1.5rem, 5vw, 2em);
    margin: 0 0 0.25em 0;
  }
  
  p {
    margin-bottom:1em;
  }