@import '../variables';
@import '../common/mixins';

body {
  color: $primary;
  font-family: var(--font-dm_sans);
}

h1 {
    font-size: clamp(2.25rem,4.25vw,4rem);
}

h2 {
  font-size: 1.75em;
  font-weight: 600;

  @include min-md {
    font-size: 2em;
  }

}

h3 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1em;
    margin: 0 0 0.25em 0;
    letter-spacing: 1px;

    @include min-md {
      font-size: 1.3em;
    }

  }
  
p {
  font-size: 1.1em;
  margin-bottom: 0.75em;
  line-height: 1.6em;
}

main {
  ul, ol {
    font-size: 1.1em;
  }
}
