@import '../../styles/variables';
@import '../../styles/common/mixins';

.featured_insight {
    min-height: 80vh;
    min-height: 80dvh;
    padding-bottom:3em;
    position: relative;

    .featured_insight_sub {
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 5px;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    h1 {
        color:#fff;
        font-weight: bold;
        font-size: 2em;
        margin: 0.25em 0;
        line-height: 1.2em;
        letter-spacing: 2px;
    }

    &_copy {
        color:#fff;
        font-size: 1em;
        line-height: 1.5em;
        margin: 0;

        @include min-lg {
            font-size: 1.2em;
        }

    }

    &_img {
        object-fit: cover;
        height: 100%;
        position: absolute;
        inset:0;
        width: 100%;
        z-index:2;
    }

    &_link {
        color:#fff;
    }

    &_overlay {
        background-color: rgba(0,0,0,.45);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
    }

}