.module__text_media {

   .dots_container {
      display: flex;
      position: absolute;
      right: -50px;
      bottom: 0;
   }

   .dots_column {
      display: flex;
      flex-direction: column;

      .dot {
         margin-bottom: 0px;
         opacity: 0.4;
     }
     .dots_space {
         flex: 1;
     }

   }

}