.header_fixed {
    transform: translateY(-100%);
    transition: 500ms transform ease;

    img {

        width:35px;

    }

    &_active {
        transform: translateY(0%);
        transition: 500ms transform ease;
    }

}