@import '../styles/common/mixins';

.work_title {
    font-size:clamp(2.25rem,4.25vw,4rem);
    font-weight: 500;
    margin-bottom: 0.25em;
    line-height: 1.2em;

    .serif {
        font-weight: 100;
    }

}

.work_tile_grid {
    grid-template-rows: auto;
    margin-bottom:4em;
    grid-template-columns: 1fr;
    gap:2em;

    @include min-sm {
        grid-template-columns: repeat(2,1fr);
    }
    
    @include min-lg {
        grid-template-columns: repeat(6,1fr);
    }
}