@import '../../../styles/variables';

.module__contact_form {
    background: linear-gradient(180deg,#9b8cb4,transparent);
    min-height: 600px;
    padding-block: 3em;

    .contact_container {
        position: relative;
        z-index:2;
    }

    h2 {
        margin-bottom:0.5em;
        line-height: 1.3em;
    }

    p {
        font-size: 1.1em;
    }

    .contact_user {
        align-items: center;
        color: $color_primary;
        display: flex;
        gap: 1em;
        margin-top: 2em;

        h3 {
            font-weight: 700;
            font-size: 1.2em;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        img {
            border-radius: 50%;
        }

    }

    .contact__graphic {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        width: 18vw;
        z-index: 1;

        img {
            opacity: 0.3;
            height: auto;
            transform: translate(-20px,140px);
            width: 100%;
        }

    }

}

.gravity_form {

    &_field {
        display: flex;
        flex-direction: column;
        margin-bottom:1em;

        label {
            font-weight: 700;
            margin-bottom:0.5em;
        }

        input,
        textarea {
            padding:0.5em;
        }
    }

    button {
        display:inline-block;
        padding:0.75em 1.75em;
        text-transform: uppercase;
        transition: 0.3s all ease;
        border:1px solid $lime_green;
        background-color: $dark_purple;
        color:#fff;
    
        &:hover {
            background-color: $deep_purple;
            transition: 0.3s all ease;
        }

    }

}

.contact_notice {
    background-color: green;
    color:#fff;
    margin-bottom:1em;
    padding:1em; 
}