@import '../../styles/variables';
@import './mixins.module.scss';

.primary_menu {
    background-color: $primary;
    height: 100svh;
    color: #fff;
    inset:0;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    width: 100%;
    transition: 2s opacity ease-in-out;

    @include min-lg {
        background-color: transparent;
        display: block;
        height: auto;
        opacity: 1;
        position: relative;
        transition: none;
        visibility: visible;
        width :auto;
    }

    &__open {
        opacity: 1;
        visibility: visible;
        transition: 250ms opacity ease-in-out;
    }

    ul {
        align-items:center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 100%;

        @include min-lg {
           flex-direction: row;
           height: auto;
        }

        li.primary_menu_item {
            margin-block: 0.5em;
            padding: 0 2em;
            position: relative;

            @include min-lg {
                margin-block:0;
            }


            > a {
                line-height: 2.5em;
                font-size: 1.3em;
                position: relative;

                @include min-lg {
                    font-size: 1.1em;
                }

                &:after {
                    background-color: white;
                    content:"";
                    height: 2px;
                    margin:auto;
                    inset:auto 0 -12px 0;
                    position: absolute;
                    width: 0.01px;
                    transition: 500ms width ease;
                }

            }

            &:hover > a:after,
            &__current > a:after {
                background-color: $lime_green;
                transition: 500ms width ease;
                width: 100%;
            }

            ul {
                background-color: $deep_purple;
                border-top:2px solid $lime_green;
                display: none;
                position: absolute;
                inset:42px auto auto 0;
                width:200px;

                li {
                    &:hover {
                        background-color: darken($deep_purple, 8);
                    }
                }

                }

            &:hover {
                > ul {
                    display: block;
                }
            }

        }

    }

}