@import '../../styles/variables';
@import './mixins.module.scss';

.primary_menu {
    display: none;
    color: #fff;

    @include min-lg {
        display: block;
    }

    ul {
        align-items:center;
        display: flex;

        li {
            padding: 0 2em;
            position: relative;

            a {
                line-height: 2.5em;
                font-size: 1.1em;
                position: relative;
            }

        }

    }

    

}