@import '../../styles/variables';
@import './mixins.module.scss';

.page_header {
    align-items: center;
    background-color: $dark_purple;
    display: flex;
    color: #fff;
    overflow: hidden;
    min-height: 100vh;
    min-height: 100svh;  
    padding:0;

    h1 {
        margin:0;
        line-height:1.2em;
        font-size:clamp(2.25rem,4.25vw,4rem);
        font-weight: 600;
        letter-spacing: 1px;
        padding-right:2em;

        span {
            font-weight: 100;
        }

    }

    .page_header__container:has(.page_header__copy__bottom) {
        h1 {
            margin-bottom:0.25em;
        }
    }

    p {
        font-size:1em;
        margin:0;

        @include min-lg {
            font-size:1.2em;
            width:80%;
        }

        &.page_header__copy__top {
            color: $lime_green;
            font-size:0.825em;
            font-weight: 600;
            letter-spacing: 5px;
            margin-bottom:0.5em;
            text-transform: uppercase;

            @media (min-width:768px) {
                 font-size:1em;
            }

        }

        &.page_header__copy__bottom {
            line-height: 1.5em;
            margin:0;

            @media (min-width:768px) {
                font-size:1.2em;
           }

           a {
            color:$lime_green;
           }

        }

    }

    .page_header__link {
        border:1px solid $lime_green;
        color: $lime_green;
        color: #fff;
        display: inline-block;
        margin-top:2em;

        &:hover {
            background-color: $deep_purple;
        }

    }

    &__image {
        background-color: transparent;
        min-height:80vh;
        min-height: 80dvh;
        position: relative;

        .container {
            position: relative;
            z-index:999;
        }

        img.page_header__img {
            object-fit: cover;
        }

    }

    &--simple {
        background-color: #fff;
        min-height: 60vh;
        min-height: 60svh;  

        h1, p {
            color : aqua;
        }

    }

    &--featured {
        align-items: flex-end;
        padding-bottom:5em;

        h1 {
            font-size:2em;
            margin-bottom:0.5em;
        }

        p {
            margin:0;
        }

        a {
            color:#fff;

            svg {
                margin-left:0.5em;
                width:20px;
            }

        }

    }

    &__video {

        min-height:80vh;
        min-height: 80dvh;

        @media(max-width:767.9px) {
            min-height: 430px;
        }

        @media(min-width:768px) and (max-width:991.9px) {
            min-height: 440px;
            height:440px;
        }

        @media(min-width:992px) and (max-width: 1499.9px) {
            height:500px;
            max-height:500px;
            min-height:500px;
        }

        .page_header__video {
            position: absolute;
            height: 100%;
            inset: 0 -100% auto -100%;
            text-align: center;
            width: 150%;

            @media (min-width:768px) {
                padding-bottom:75%;
            }

            @media (min-width:1024px) {
                padding-bottom:46%;
                inset: 0 -105% auto -105%;
            }

            @media (min-width:1280px) {
                inset:-10px 0 auto 0;
                max-width: 100%;
                padding-bottom:46%;
                width: 100%;
            }

        iframe {
            object-fit: cover;
            height: 100%;
            inset:0;
            position: absolute;
            width: 100%;

            @media(max-width:1259.9px) {
                width: 205%;
            }

        }

        }


    }

    &__graphic {
        inset: auto 0 -15% auto;
        overflow: hidden;
        position: absolute;
        max-width: 250px;
        width:100%;

        @media(min-width:600px) {
            max-width: 500px;
            width: 45vw;
        }

        @include min-md{
            max-width: 400px;
            width:40vw;
        }

        @include min-lg{
            inset: auto  0 -20% auto;
            width: 30vw;
        }

        @include min-xl {
            max-width:100%;
        }

        img {
            opacity: 0.2;
            height: 100%;
            transform: translateX(15px);
            width: 100%;
        }

    }

    &__overlay {
        background-color: rgba(0,0,0,0.45);
        content:"";
        height: 100%;
        inset:0;
        position: absolute;
        width: 100%;
        z-index:1;
    }

    &.home_page {
        min-height: 100vh; 
        min-height: 100svh; 

        @include min-lg {
            min-height: 80vh; 
            min-height: 80svh; 
        }

    }
    
    &.home_page .page_header__graphic {
    
        @media(min-width:768px) {
            inset: auto 0 -43% auto;
            width: 30vw;
        }
    }
    
    &.home_page .page_header__container{
    
        @media(min-width:768px) {
            margin-top:50px !important;
        }
    
    }

}

/* Home page styles */

