@import '../../../styles/variables';

.module__image_cards {

    background: linear-gradient(transparent 200px,#faf5ed 0) no-repeat;
    padding-bottom:3em;
    position: relative;

    &:before {
        content:""
    }

    .image_card {
        display: flex;
        flex-direction: column;
        position: relative;
        background: #fff;
        box-shadow: 0 0 11px 0 rgba(0,0,0,.1);

        &__img {
            height: 0;
            padding-bottom: 75%;
            position: relative;

            img {
                height: 100%;
                object-fit: cover;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }


        }

        &__content {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            padding: 1.3125em 1.25em;
            text-align: left;

            h3 {
                font-size: 1.4em;
                font-weight: 700;
                line-height: 1.625rem;
                margin-bottom:0.5em;
                letter-spacing: normal;
            }

            p {
                margin-bottom: 32px;
                font-size: 1rem;
            }

        }

        &__link_text {
            color: $bright_purple;
            text-transform: uppercase;
            font-weight: 700;
            display: flex;
            line-height: 17px;
        }

        a {
            height: 100%;
            inset:0;
            position: absolute;
            width: 100%;
        }


    }

}