@import '../../styles/variables';

.module__testimonials {

    .testimonial_container {
        color:#fff;
        margin: auto;
        max-width: 1000px;
        padding: 4em 2em;
    }

    .testimonial {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap:1em;
        margin:auto;
        
        @media(min-width:380px) {
            flex-direction: row;
        }

        @media(min-width:600px) {
            gap:2em;
        }
         
        @media(min-width:1024px) {
            gap:3em;
            width:90%;
        }

        &__graphic {
            flex: 0 0 18%;
            max-width: 18%;

            svg {
                height: auto;
                width: 100%;
            }

        }

        &__copy {

            p {
                font-size: clamp(1.2em, 4.25vw, 2.1em);
                line-height: 1.2em;
                font-family: var('--font-dm_sans');
                font-weight: 700;
                margin:0 0 0.5em 0;
            }

        }

        &__author {
            font-family: var('--font-dm_sans');
            font-size: clamp(1.1em, 3vw, 1.5em);
            font-weight: 200;
            margin:0;
        }

    }

    .testimonial__wrap {
        flex: 1;
    }


}

