@import '../../styles/variables';

.btn {
    border:1px solid #fff;
    display:inline-block;
    padding:.75em 1.75em;
    text-transform: uppercase;
    transition: 0.3s all ease;
}

.btn--white {
    border:1px solid $bright_purple;
    color:$bright_purple;

    &:hover {
        background-color: $bright_purple;
        color:#fff;
        transition: 0.3s all ease;
    }

}
