$deep_purple : #24143D;
$dark_purple : #3B2E4F;
$bright_purple : #8C45FF;
$lime_green : #D6FF00;
$cream : #FAF5ED;

$primary : $dark_purple;
$color_primary : $deep_purple;

$color_secondary: $dark_purple;
$color_black: #000000;
$color_white: #fff;
$color_light_grey: #ccc;
$color_body : $dark_purple;
$color_link: $bright_purple;

$body_color : $dark_purple;

$container_sm: 640px;
$container_md: 768px;
$container_lg: 1024px;
$container_xl: 1280px;
$container_xxl: 1500px;

