@import '../../styles/variables';
@import './mixins.module.scss';

.module__icons {

    .icon_tile {
        align-items: center;
        grid-template-columns: 50px 1fr;
        gap:1em;

        @include min-lg {
            grid-template-columns: 75px 1fr;
            gap:3em;
        }

        img {
            width:50px;

            @include min-lg {
               width: auto;
            }

        }

    }

    h3 {
        font-size: 1.2em;
        line-height: 1.4em;

        @include min-lg {
            font-size: 1.5em;
        }

    }

}